.profil1 {
    padding: 2em;
    height: 45vh;
    background-color:#FAFAFA;
    border-radius: 0.5em;
    margin-top: 2vh;

}

.profil2 {
    padding: 2em;
    background-color: #FAFAFA;
    border-radius: 0.5em;
    margin-top: 2vh;
}

.margin{
    margin-top: 10vh;
}

.img{
    width: 10vw ;
    border-radius: 50%;
}

.imgBox{
    text-align:center;
    margin:auto;
    display:flex;
}

.button{
    float:right;
}